apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pat-ingress
  annotations: {}
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: server-service
            port:
              number: 3000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: client-service
            port:
              number: 80